body {
    padding: 0;
    margin: 0;
    background: rgb(88, 30, 30);
    background: -moz-linear-gradient(180deg, rgba(88, 30, 30, 1) 30%, rgba(198, 14, 14, 1) 70%);
    background: -webkit-linear-gradient(180deg, rgba(88, 30, 30, 1) 30%, rgba(198, 14, 14, 1) 70%);
    background: linear-gradient(180deg, rgba(88, 30, 30, 1) 30%, rgba(198, 14, 14, 1) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#581e1e", endColorstr="#c60e0e", GradientType=1);
    color: #fff !important;
    text-align: center !important;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh !important;
}

.boas-vindas {
    text-align: center;
    font-size: 1rem;
    margin-top: 1rem;
}

.btn {
    background-color: #fff !important;
    color: #000 !important;
    width: 20rem !important;

}

.options {
    margin-top: 3rem !important;
}

.footer {
    text-align: center;
    margin-top: 1rem;
}